package view

import (
	"alvintanoto.id/blog-htmx-templ/internal/dto"
)

templ SettingsPage(dto *dto.SettingsPageDto) {
	<html>
		@headerComponent("settings", dto.User)
		<body class="max-h-[100vh] select-none bg-grey text-base overflow-hidden">
			<div class="grid-cols-2 md:flex md:min-h-full">
				<div class="hidden md:flex md:min-w-[192px] md:border-r md:border-grey-darker ">
					@sideNavigationComponent(dto.User)
				</div>
				<div class="w-full"></div>
			</div>
		</body>
	</html>
}
