package view

templ headerComponent() {
	<head>
		<title>
			Goblog
		</title>
		<link href="/assets/css.css" rel="stylesheet"/>
		<div class="h-[64px] p-2 text-2xl shadow-md flex items-center">
			Blog		
		</div>
	</head>
}
